<div class="about row">
    <div class="col-md-12">
      <h2>About me</h2>
      <br>
        <ul>
          <li>
            慢热: 大千世界，你我，仅仅是擦身而过，有幸遇到几个人，一起谈天说地、驰骋古今。
          </li>
          <li>
            爱笑: 地铁上，无数的人面对着冰冷的手机，嘴角却散发温暖的笑容。
          </li>
          <li>
            求完美: 不知道您有没有看过[《伸冤人》](https://movie.douban.com/subject/3012013/)这部电影，里面的主角大叔到咖啡馆看书时，餐具、书本的摆放都是分毫不差的，就连杀人的时间也是精确到秒。就像我在coding的时候，相邻赋值语句的等号一定是垂直的。
          </li>
          <li>
            喜欢条理而又不甘受规则的束缚:当我在实现一个较为复杂的功能时，首先我会将其分解为多个步骤，剥离成多个子方法。然后提高各个子方法重用性。但在具体实现某个功能时，若存在多种解决方案，那么我会根据实际的应用场景、技术的实用性来做出选择，而不是盲目相信权威、规则。  
          </li>
        </ul>


      <h2>What do l usually do?</h2>
      <br>
      <li>
        读英语: 用过的工具很多，如:百词斩、英语流利说、扇贝等，但我觉得选择一个坚持下去就好，目标是有一天用着英语和别人吹牛皮。
      </li>      
      <li>
        阅读: 目前阅读的技术书籍是《疯狂Java讲义》和《深入理解Java虚拟机》，目标是打下扎实的Java基础，以及构建自己的知识体系。最喜欢的书籍是《平凡的世界》，很多人都喜欢少安，但我却更倾向于少平，因为我无法忘记在工地的草垛上通宵看了一夜书的少平，因为我无法忘记在煤矿下挥洒汗水的少平，因为我无法忘记在上小学时和郝红梅一起吃最后黑馍馍的少平。
      </li>
      <li>
        健身: 身体是革命的本钱，不求练得多大的块，只求匀称、充满活力的身体。
      </li>
    </div>
</div>